{{ define "main" }}
    <h1>{{ .Title }}</h1>
    
    {{ .Content }}

    {{ range .Params.featured }}
        {{ with site.GetPage . }}
            {{ $styleBlock := printf "style=--color:%s;" (.Params.color | default "var(--blue)") }}
            <div class="entries" {{ $styleBlock | safeHTMLAttr }}>
                <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </div>
        {{ end }}
    {{ end }}

    <center>
        <div class="entries" style="--color: var(--cyan)">
            <a href="https://wiby.me/surprise/" target="_blank">(or go somewhere else interesting)</a>
        </div>
    </center>
{{ end }}
