@import url("theme.css");

@font-face {
  font-family: my_serif;
  src: url(/fonts/SourceSerif4-Medium.woff2);
}

@font-face {
  font-family: my_mono;
  src: url(/fonts/IosevkaVariant2.woff2)
}

header {
  font-family: my_mono;
  font-weight: bold;
  background-color: var(--background);
  text-align: center;

  h1 {
    font-size: 36pt;
    color: var(--foreground);
    margin: 0px;
  }

  padding: 12px;
  padding-bottom: 0;

}

p {
  font-size: 12pt;
  line-height: 1;
}


table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    line-height: 1;
}

table, th, td {
    border: none; /*1px solid var(--background) !important;*/
}

th, td {
    padding: 7px;
}

nav {

  align: center;
  cursor: default;

  margin: 12px;
  padding-bottom: 20px;

  a {
    margin: 16px;
    padding: 0px 12px;
    font-size: 21pt;
    font-weight: bold;
    text-decoration: none;
    color: var(--color);
  }

  a:hover {
    text-decoration: none;
    border-radius: 7px;
    color: var(--background);
    background-color: var(--color);
  }

  .dropdown .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    padding: 2px 0px 0px 0px;
    margin: 0px;
    font-family: my_mono;
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--background);
    color: var(--color);
  }

  .dropdown:hover .dropbtn {
    color: var(--background);
    background-color: var(--color);

    a {
      color: var(--background);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    z-index: 1;
    width: 100%;

    a {
      /*font-family: my_serif;*/
      float: none;
      display: block;
      padding: 7px;
      padding-left: 11px;
      margin: 0px; /* change to nest dropdown elements inside menu */
      text-align: left;
      color: var(--background);
      font-size: 14pt;
      font-weight: 600;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--color);
    padding: 0px;
    margin: 0px;

    a:hover {
      background-color: var(--background);
      color: var(--color);
    }
  }
}

body {
  background-color: var(--background);
}

.contents {

  background-color: var(--foreground);
  color: var(--background);
  font-family: my_serif;

  border-radius: 7px;
  max-width: 800px;
  margin: auto;
  padding: 12px;

  /*margin-bottom: 200px;*/

  a {
    border-radius: 7px;
    color: var(--link);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline var(--link) 2px;
  }

  h1 {
    font-family: my_mono;
    text-align: center;
    font-size: 21pt;
    margin: 0px;
    padding: 0px 0px;
    line-height: 2;
  }

  h2 {
    font-family: my_mono;
    font-size: 17pt;
    margin: 0px;
    padding-left: 24px;
    line-height: 3;
    a, a:hover {
      text-decoration: none;
    }
  }


  h3 {
    font-family: my_mono;
    font-size: 14pt;
    margin: 0px;
    padding-left: 24px;
    line-height: 3;
    a, a:hover {
      text-decoration: none;
    }
  }

  .meta-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .back-button {
    font-size: 12pt;
    margin: 0px;
    font-family: my_mono;
    a {
      text-decoration: none;
      color: var(--background);
    }
  }

  time { 
    font-family: my_mono;
    font-size: 12pt;
  }

  ol {
    padding-left: 48px;
    padding-right: 7px;
    font-family: my_serif;
    margin: 7px;
    line-height: 2;
    font-weight: normal;
    font-size: 12pt;
    /*text-align: justify;*/

    a {
      text-decoration: none;
      color: var(--background);
    }

    a:hover {
      text-decoration: underline var(--link) 2px;
    }
  }

  p {
    padding-left: 7px;
    padding-right: 7px;
    font-family: my_serif;
    font-size: 12pt;
    margin: 0px;
    line-height: 2;
    /*text-align: justify;*/
    /*margin-bottom: 1rem;*/
  }

  code {
    /*background-color: var(--foreground);*/
    font-family: my_mono;
    color: var(--background);
    border-radius: 4px;
    font-weight: 550;
    font-size: 12pt;
  }

  pre {
    font-family: my_serif;
    font-size: 12pt;
    color: var(--foreground);
    background-color: var(--background);
    margin: 7px;
    border-radius: 7px;
    padding: 2px 2px 3px 7px;

    line-height: 1.4;
    white-space: pre-wrap;

    a {
      color: var(--foreground);
    }

    code {
      color: var(--foreground);
      font-size: 12pt;
      font-family: my_mono;
      font-weight: 550;

      a {
        color: var(--foreground);
        line-height: 1.2;
      }

    }

  }

  img {
    display: block;
    border-radius: 7px;
    width: 100%;
    margin: 14pt 0pt;
  }

}

.entries {
  background-color: var(--foreground);
  color: var(--foreground);
  border-radius: 7px;
  font-weight: bold;

  a {
    border-radius: 7px;
    margin-top: 10px;
    padding: 5px;
    padding-left: 12px;
    display: block;

    font-family: my_mono;
    font-size: 16pt;
    font-weight: bold;

    color: var(--color);
    background-color: var(--background);
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    background-color: var(--color);
    color: var(--background);
  }

  font-family: my_monospace;
}

#toTopButton {

  color: var(--foreground);
  background-color: var(--background);
  border-radius: 7px;
  border: none;

  font-family: my_mono;
  font-weight: bold;
  font-size: 12pt;

  border-radius: 7px;

  margin: 10px;
  padding: 4px 10px;
  display: block;

  text-decoration: none;
}


#toTopButton:hover {
  text-decoration: none;
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
}

footer {
  margin-bottom: 200px;
}
