    :root {
        --background: #2e3440;
        --foreground: #c5ceda;
        --red: #bf616a;
        --orange: #d08770;
        --yellow: #ebcb8b;
        --green: #a3be8c;
        --cyan: #8fbcbb;
        --blue: #81a1c1;
        --purple: #b48ead;
        --magenta: #C5729A;
    }
    