    :root {
        --background: #252822;
        --foreground: #d6d2b8;
        --link: #888875;
        --red: #c96b5b;
        --orange: #c98b5b;
        --yellow: #c4ad70;
        --green: #91a86c;
        --cyan: #78a39a;
        --blue: #718f8c;
        --purple: #9b857b;
        --magenta: #ad7b82;
    }
    