:root {
  --dark:#282C34;
  --light:#ABB2BF;
  --red:#E06C75;
  --yellow:#E5C07B;
  --green:#98C379;
  --teal:#56B6C2;
  --blue:#61AFEF;
  --magenta:#C678DD;
}

@font-face {
  font-family: serif;
}

header {
  font-family: monospace;
  font-weight: bold;
  background-color: var(--dark);
  text-align: center;

  h1 {
    font-size: 36pt;
    color: var(--light);
    margin: 0px;
  }

}

p {
  font-size: 12pt;
  font-weight: 550;
  line-height: 2;
}

nav {

  align: center;
  cursor: default;

  margin: 12px;
  padding-bottom: 12px;

  a {
    margin: 20px;
    padding: 0px 12px;
    font-size: 21pt;
    font-weight: bold;
    text-decoration: none;
    color: var(--color);
  }

  a:hover {
    text-decoration: none;
    border-radius: 7px;
    color: var(--dark);
    background-color: var(--color);
  }

  .dropdown .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 0px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    padding: 0px;
    margin:0px;
    font-family: monospace;
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--dark);
    color: var(--color);
  }

  .dropdown:hover .dropbtn {
    color: var(--dark);
    background-color: var(--color);

    a {
      color: var(--dark);
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    z-index: 1;
    width: 100%;

    a {
      /*font-family: serif;*/
      float: none;
      display: block;
      padding: 7px;
      padding-left: 11px;
      margin: 0px; /* change to nest dropdown elements inside menu */
      text-align: left;
      color: var(--dark);
      font-size: 12pt;
    }
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--color);
    padding: 0px;
    margin: 0px;

    a:hover {
      background-color: var(--dark);
      color: var(--color);
    }
  }
}



body {
  background-color: var(--dark);
}

.contents {
  a {
    border-radius: 5px;
    color: var(--dark);
    text-decoration: underline #8b008b 1px;
  }

  a:hover {
    text-decoration: double underline #8b008b 1px;
  }

  background-color: var(--light);
  color: var(--dark);
  font-family: monospace;

  border-radius: 7px;
  width: 50%;
  margin: auto;
  padding: 12px;
  
  h1 {
    text-align: center;
    font-size: 21pt;
    margin: 0px;
    padding: 7px;
    line-height: 2;
  }

  h2 {
    font-size: 17pt;
    margin: 0px;
    padding-left: 24px;
    line-height: 3;
  }

  h3 {
    font-size: 14pt;
    margin: 0px;
    padding-left: 24px;
    line-height: 3;
  }

  p {
    padding-left: 7px;
    padding-right: 7px;
    font-family: serif;
    font-size: 12pt;
    margin: 0px;
    line-height: 2.4;
    /*text-align: justify;*/
  }

  code {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: bold;
  }

  pre {
    color: var(--light);
    background-color: var(--dark);
    margin: 7px;
    border-radius: 7px;
    font-size: 12pt;
    line-height: 1.2;
    font-family: monospace;
    font-weight: bold;
    padding: 7px;

    a {
      color: var(--light);
      font-size: 12pt;
      line-height: 1.2;
      font-family: monospace;
      font-weight: bold;
    }
  }
}

