:root {
  --dark:#282C34;
  --light:#ABB2BF;
  --red:#E06C75;
  --yellow:#E5C07B;
  --green:#98C379;
  --teal:#56B6C2;
  --blue:#61AFEF;
  --magenta:#C678DD;
}

@font-face {
  font-family: serif;
}

header {
  font-family: monospace;
  font-weight: bold;
  background-color: var(--dark);
  text-align: center;

  h1 {
    font-size: 36pt;
    color: var(--light);
    margin: 0px;
  }

}

p {
  font-size: 12pt;
  font-weight: 550;
  line-height: 2;
}

nav {

  align: center;
  cursor: default;

  margin: 12px;
  padding-bottom: 12px;

  a {
    margin: 20px;
    font-size: 21pt;
    font-weight: bold;
    color: var(--dark);
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

}


body {
  background-color: var(--dark);
}

.contents {
  a {
    border-radius: 5px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  background-color: var(--light);
  color: var(--dark);
  font-family: monospace;

  border-radius: 7px;
  width: 50%;
  margin: auto;
  padding: 12px;
  
  h1 {
    text-align: center;
    font-size: 21pt;
    margin: 0px;
    padding: 7pt;
  }

  h2 {
    font-size: 17pt;
    margin: 0px;
    padding: 7pt;
  }

  p {
    padding-left: 7pt;
    padding-right: 7pt;
    font-family: serif;
    font-size: 12pt;
    margin: 0px;
    /*text-align: justify;*/
  }

  .code {
    color: var(--light);
    background-color: var(--dark);
    margin: 7px;
    border-radius: 5px;

    p {
      line-height: 1.2;
      font-family: monospace;
      font-weight: bold;
      padding-left: 2px;
    }

    padding: 7px;

  }

}
