{{ define "main" }}

<!-- "cd .." button
{{ with .Parent }}
        {{ if not .IsHome }}
            <div class="entries context-back" style="--color: var(--blue)">
                <a href="{{ .Permalink }}"><</a>
            </div>
        {{ else }}
            <div class="entries context-back" style="--color: var(--blue)">
                <a href="/">/</a>
            </div>
        {{ end }}
    {{ end }}
-->
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    <div class="entries-list">
        {{ range .Pages }}
            {{ $styleBlock := printf "style=--color:%s;" (.Param "color" | default "var(--blue)") }}
            <div class="entries" {{ $styleBlock | safeHTMLAttr }}>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
    </div>

{{ end }}

